<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18468306-a043-4a90-908e-ac740c2f7316/resourcegroups/HotelViennaResource/providers/Microsoft.Web/sites/HotelVienna</ResourceId>
    <ResourceGroup>HotelViennaResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hotelvienna.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hotelvienna.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HotelVienna</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HotelVienna</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HotelWienEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hotelviennaserver.database.windows.net,1433;Initial Catalog=HotelVienna_db;User ID=sead@hotelviennaserver;Password=cehic123." Name="Data Source=tcp:hotelviennaserver.database.windows.net,1433;Initial Catalog=HotelVienna_db;User Id=sead@hotelviennaserver;Password=cehic123." />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HotelWIEN_API.Models.HotelWienEntities, HotelWIEN_API" MigrationConfiguration="HotelWIEN_API.Migrations.Configuration, HotelWIEN_API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HotelWienEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hotelviennaserver.database.windows.net,1433;Initial Catalog=HotelVienna_db;User Id=sead@hotelviennaserver;Password=cehic123.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>